@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input {
  border: none;
  background: transparent;
  font: inherit;
}
button:hover {
  cursor: pointer;
}
img,
svg,
picture {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.1;
  margin: 0;
}
p {
  font-size: 1rem;
}
