$Orange: rgb(255, 125, 26);
$Pale-orange: rgb(255, 237, 224);
// ### Neutral
$Very-dark-blue: rgb(29, 32, 37);
$Dark-grayish-blue: rgb(104, 112, 125);
$Grayish-blue: rgb(182, 188, 200);
$Light-grayish-blue: rgb(247, 248, 253);
$White: rgb(255, 255, 255);
$Black-lightbox: rgba(0, 0, 0, 0.3);
// (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

// Flex-Mixins
@mixin flex-c {
  display: flex;
  align-items: center;
}
@mixin flex-c-jcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-c-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Break-Point-Mixins
@mixin mq-tablet {
  @media screen and (min-width: 47rem) {
    @content;
  }
}
@mixin mq-desktop {
  @media screen and (min-width: 87rem) {
    @content;
  }
}

.btn {
  background-color: $Orange;
  color: $White;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 0.35rem;
  padding: 0.7rem 1rem;
  width: 100%;
  transition: all 300ms ease-in-out;
  box-shadow: 5px 5px 15px rgba(255, 166, 0, 0.467);
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
.inc,
.dec {
  width: auto;
}
//
.link {
  color: $Dark-grayish-blue;
  transition: all 300ms ease-in-out;
  position: relative;

  &:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    display: inline-block;
    left: 0;
    bottom: -1rem;
    background-color: $Orange;
  }

  &:hover {
    color: $Very-dark-blue;
  }
}
